{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "useTabs": false,
  "singleAttributePerLine": true
}
