.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.list_wrap {
  max-height: 478px;
  height: auto;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.active {
  opacity: 0.5;
}

.topElement,
.element,
.bottomElement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 520px;
  min-height: 80px;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 24px;
  border-radius: var(--common-border-radius-s);
  background: var(--background-element);
}

.topElement {
  border-radius: var(--top-constructor-item-border-radius);
}

.bottomElement {
  border-radius: var(--bottom-constructor-item-border-radius);
}
