.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.list_wrap {
  max-height: 478px;
  height: auto;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
