:root {
  /* fonts */
  --font-family: 'JetBrains Mono', sans-serif;
  --second-family: 'Iceland', sans-serif;
  --third-family: 'IBM Plex Sans', sans-serif;

  /* colors */
  --interface-modal-bg: #1c1c21;
  --interface-accent: #4c4cff;
  --interface-active: #4c4cff;
  --interface-input: #2f2f37;
  --interface-success: #0cc;
  --interface-error: #e52b1a;
  --interface-bg: #131316;
  --interface-modal-edge: rgb(76 76 255 / 20%);
  --text-primary-light-standart-text: #f2f2f3;
  --text-dark-grey-secondary-text: #8585ad;
  --text-disabled: #3a3a55;
  --interface-hover-bs: 0px 0px 16px 8px rgb(51 51 255 / 25%),
    0px 0px 8px 8px rgb(51 51 255 / 25%);
  --interface-hover-ds: 0px 4px 32px rgb(51 51 255 / 50%);

  /* sizes */
  --offset-base-size: 4px;
  --container-width: 1280px;
}

@font-face {
  font-family: JetBrains Mono;
  src: url('src/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: JetBrains Mono;
  src: url('src/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: Iceland;
  src: url('src/fonts/Iceland-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: IBM Plex Sans;
  src: url('src/fonts/IBMPlexSans.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: IBM Plex Sans;
  src: url('src/fonts/IBMPlexSans-Bold.woff2') format('woff2');
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family:
    JetBrains Mono,
    Iceland,
    IBM Plex Sans,
    sans-serif;
  background-color: var(--interface-bg);
  color: var(--text-primary-light-standart-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  font-size: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
